<table>
  <thead>
    <th style="border: 1px solid #000;">course</th>
    <th style="border: 1px solid #000;">complete</th>
    <th style="border: 1px solid #000;">total</th>
    <th style="border: 1px solid #000;">rating</th>
  </thead>
  <tbody>
    {{#each course}}
      <tr>
        <td style="border: 1px solid #000;">{{course}}</td>
        <td style="border: 1px solid #000;">{{complete}}</td>
        <td style="border: 1px solid #000;">{{total}}</td>
        <td style="border: 1px solid #000;">{{rating}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>


