	<div style="width:100%;display: flex;align-items:center;flex-direction:column">
	<h1>FP-Courses</h1>
    <span style="font-size:24px;align-self:flex-start">User name: {{user}}</span>
		<ul style="list-style: none;font-size:24px;align-self:flex-start">
		 	<li><a href="/user/course">Courses</a></li>
		</ul>
	</div>
{{> footer}}

